In [12]:
name="ada lovelace"
name.title()
name.upper()
name.lower()

'ada lovelace'

In [13]:
first_name="ada"
last_name="lovelace"
full_name=f"hello,{first_name} {last_name}"
full_name

'hello,ada lovelace'

In [23]:
fn=input("Enter your First Name")
ln=input("ENter your Last Name")
ffn=f"hello, Welcome to world of Programming,{fn.title()} {ln.title()}"
print(ffn)

hello, Welcome to world of Programming,Chethan Dinesh

In [15]:
print("Languages:\nPython\nC\nJava")

Languages:
Python
C
Java

In [26]:
favorite_language=" python "
favorite_language
favorite_language.rstrip()
favorite_language.strip()

'python'

In [27]:
message="one  of python's strengths is its verstatility"
message

"one  of python's strengths is its verstatility"

In [29]:
namee=input("What's your Name?")
print(f"{namee.title()} \n{namee.upper()}")

Surender
SURENDER

In [30]:
famous_person="Shannu"
message="Never Give Up"
a=f"Shannu once said, {message}"
a

'Shannu once said, Never Give Up'

In [31]:
3**2

9

In [33]:
for i in range(10):
    print(i**3)

0
1
8
27
64
125
216
343
512
729

In [34]:
2+2

4

In [35]:
0.1+1

1.1

In [40]:
round((0.2+11),2)

11.2

In [42]:
x,y,z=1,2,3
print(x,y,z)

1 2 3

In [ ]:
#Single Line Comments

In [43]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [44]:
languages=['C','c++','java','oracle','python']
languages

['C', 'c++', 'java', 'oracle', 'python']

In [46]:
languages[0]

('C', 'java')

In [47]:
languages[2]

'java'

In [48]:
text=f"my first language is {languages[3].upper()}"
text

'my first language is ORACLE'

In [49]:
motorcycles=['honda','yamaha','suzuki']
motorcycles

['honda', 'yamaha', 'suzuki']

In [50]:
motorcycles[0]='ducati'
motorcycles

['ducati', 'yamaha', 'suzuki']

In [54]:
motorcycles.append('BMW')
motorcycles

['ducati', 'yamaha', 'suzuki', 'BMW', 'BMW', 'BMW', 'BMW']

In [57]:
hai=[]
a=input("Enter your name")
b=input("Enter ypur age")
hai.append(a)
hai.append(b)
hai

['surender', '19']

In [63]:
motorcycles.insert(0,'Triump')
motorcycles

['Triump', 'ducati', 'yamaha', 'suzuki', 'BMW', 'BMW']

In [58]:
del motorcycles[5]
motorcycles

['ducati', 'yamaha', 'suzuki', 'BMW', 'BMW', 'BMW']

In [62]:
del motorcycles[5]
motorcycles

['ducati', 'yamaha', 'suzuki', 'BMW', 'BMW']

In [64]:
motorcycles

['Triump', 'ducati', 'yamaha', 'suzuki', 'BMW', 'BMW']

In [65]:
del motorcycles[5]

In [66]:
motorcycles

['Triump', 'ducati', 'yamaha', 'suzuki', 'BMW']

In [67]:
motorcycles.pop()

'BMW'

In [68]:
motorcycles

['Triump', 'ducati', 'yamaha', 'suzuki']

In [69]:
popped=motorcycles.pop()

In [70]:
popped

'suzuki'

In [71]:
print(f"the last popped item is {popped.upper()}.")

the last popped item is SUZUKI.

In [73]:
motorcycles.pop(2)
motorcycles

['Triump', 'ducati']

In [74]:
motorcycles=motorcycles+motorcycles

In [75]:
motorcycles

['Triump', 'ducati', 'Triump', 'ducati']

In [76]:
motorcycles.remove('Triump')
motorcycles

['ducati', 'Triump', 'ducati']

In [77]:
cars=['bmw','audi','toyota','subaru']
cars

['bmw', 'audi', 'toyota', 'subaru']

In [78]:
cars.sort()

In [79]:
cars

['audi', 'bmw', 'subaru', 'toyota']

In [80]:
cars.sort(reverse=True)
cars

['toyota', 'subaru', 'bmw', 'audi']

In [81]:
print(f"Here is the Temporary sorted list,{sorted(cars)}")

Here is the Temporary sorted list,['audi', 'bmw', 'subaru', 'toyota']

In [82]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [83]:
# Reverse() just reverse the items in the list but doesnt sort alphabetically
cars.reverse()
cars

['audi', 'bmw', 'subaru', 'toyota']

In [84]:

len(cars)

4

In [85]:
locations=['London','venice','paris','switzerland']
locations

['London', 'venice', 'paris', 'switzerland']

In [88]:
print(sorted(locations))

['London', 'paris', 'switzerland', 'venice']
None

In [92]:
locations.reverse()
locations

['venice', 'switzerland', 'paris', 'London']

In [93]:
locations[-1]

'London'

In [99]:
locations[::-1]

['London', 'paris', 'switzerland', 'venice']

In [100]:
locations.reverse()

In [101]:
locations

['London', 'paris', 'switzerland', 'venice']

In [106]:
magicians=['alice','david','carolina']
for magician in magicians:
    print(f"that was a great trick,{magician.title()}")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
print("Thank you, everyone. That was a great magic show!")

that was a great trick,Alice
I can't wait to see your next trick, Alice.

that was a great trick,David
I can't wait to see your next trick, David.

that was a great trick,Carolina
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

In [110]:
pizzas=['garlic','non garlic','chili']
for pizza in pizzas:
    print(f"Name of the pizza is {pizza}")
print("I like the pizza very much,I really love the pizza")

Name of the pizza is garlic
Name of the pizza is non garlic
Name of the pizza is chili
I like the pizza very much,I really love the pizza

In [112]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [115]:
for i in list(range(11)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [116]:
numbers=list(range(21))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [117]:
even_numbers=list(range(2,31,2))
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [120]:
for num in range(11):
    print(num**2)

0
1
4
9
16
25
36
49
64
81
100

In [121]:
squares=[]
for i in range(11):
    squares.append(i**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [122]:
min(squares)

0

In [123]:
max(squares)

100

In [124]:
sum(squares)

385

In [125]:
#list Comprehension
square=[value**2 for value in range(11)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [129]:
cubes=[i**3 for i in range(11)]
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [128]:
type(cubes)

list

In [130]:
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [132]:
sum(number)

499999500000

In [134]:
odd=[]
for i in range(1,21,2):
    odd.append(i)
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [138]:
three=[i*3 for i in range(1,31)]
three

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90]

In [139]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

In [140]:
players[0:3]

['charles', 'martina', 'michael']

In [141]:
players[1:4]

['martina', 'michael', 'florence']

In [142]:
players[:4]

['charles', 'martina', 'michael', 'florence']

In [143]:
players[1:]

['martina', 'michael', 'florence', 'eli']

In [144]:
players[-3:]

['michael', 'florence', 'eli']

In [145]:
for player in players:
    print(player.title())
print('the above are the players list')

Charles
Martina
Michael
Florence
Eli
the above are the players list

In [146]:
my_foods = ['pizza', 'falafel', 'carrot cake']
frnd_food=my_foods[:]
frnd_food

['pizza', 'falafel', 'carrot cake']

In [147]:
dimensions=(100,10)
dimensions

(100, 10)

In [148]:
tuple=(2,)
tuple

(2,)

In [149]:
buffet=('Idly','Vada','Dosa','Poori','upma')
buffet

('Idly', 'Vada', 'Dosa', 'Poori', 'upma')

In [150]:
buffet[0]='bonda'

TypeError: 'tuple' object does not support item assignment

In [151]:
buffet=('Idly','Vada','Dosa','poha','bonda')
print("\nThe changed Items are:")
for i in buffet:
    print(i)

The changed Items are:
Idly
Vada
Dosa
poha
bonda

In [7]:
def daughter(string1, string2, m, n):
    
    if m == 0:
        return True
    if n == 0:
        return False
 
    if string1[m-1] == string2[n-1]:
        return daughter(string1, string2, m-1, n-1)
 
    # If last characters are not matching
    return daughter(string1, string2, m, n-1)
 
 
# Driver program to test the above function
string1 = "ros"
string2 = "horseos"
 
if daughter(string1, string2, len(string1), len(string2)):
    print("yes")
else:
    print("No")

yes

In [11]:

def daughter(S, target):


	s = []

	
	for i in range(len(target)):
		s.append(target[i])

	
	for i in range(len(S) - 1, -1, -1):

	
		if (len(s) == 0):
			print("Yes")
			return

		
		if (S[i] == s[-1]):

			
			s.pop()

	
	if (len(s) == 0):
		print("Yes")
	else:
		print("No")


if __name__ == "__main__":

	S = "ros"
	target = "horseos"

	daughter(S, target)

No